/*
1. FONTS
2. PRIMARY SCHEMA
3. RESET CSS
4. GENERAL
5. BUTTONS
6. HEADER
7. MAIN
    + ARTICLE LAYOUT
8. FOOTER
*/


/* 
1. Fonts 
*/
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);

/* 
2. Primary Schema 
*/
:root {
    --mainfont: 'Open Sans Hebrew', sans-serif;
    --headerheight: 100px;
    --darkpurple: #151942;
    --lightpurple: #2d2f85;
    --orange: #ff4522;
    --lightgray: #f8f9fa;
    --gray: #ccc;
    --white: #fff;
}

/* 
3. RESET DEFAULT CSS
*/

html {
    box-sizing: border-box;
    height: 100%
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

button {
    outline: none;
    padding: 0;
    cursor: pointer;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h3 {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--darkpurple)
}

/* 
4. General
*/

* {
    font-family: var(--mainfont);
    -webkit-font-smoothing: antialiased;
}

body {
    display: grid;
    grid-template-rows: var(--headerheight) auto 70px;
    grid-template-areas:
        "head"
        "main"
        "foot";
    direction: rtl;
    background-color: var(--lightgray);
    font-size: 16px;
}

.container {
    box-sizing: content-box;
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
}

/*
5. Buttons
*/

.read-more-btn {
    background-color: var(--lightpurple);
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
    padding: 3px 18px;
    border-radius: 10px;
}

.load-btn {
    border: 3px solid var(--darkpurple);
    background-color: transparent;
    font-weight: 600;
    width: 144px;
    height: 46px;
    font-size: 22px;
}

/*
5. Header
*/


header {
    grid-area: head;
    background-color: var(--white);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.03);
}

.seprator {
    height: 2px;
    border-top: 1px solid var(--lightgray);
    margin: 0;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: calc(var(--headerheight) - 40%);
}

.logo {
    height: 40px;
    max-width: 74px;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    margin-left: 20px;
}

.cat-menu {
    grid-column: 1/3;
    grid-row: 2/3;
}

.cat-menu a:hover {
    background-color: var(--lightpurple);
    padding: 5px;
    color: #fff;
}

.side-menu li {
    border-left: 2px solid var(--darkpurple);
    line-height: 16px;
    font-weight: 600;
    padding: 0 10px;
}

.active {
    color: var(--orange);
}

.side-menu li:last-child {
    border: none;
    padding-left: 0;
}

.side-menu a:hover {
    color: var(--orange);
}

nav a {
    font-weight: 600;
    font-size: 15px;
}

.bottom-content {
    display: flex;
    align-items: center;
    height: calc(var(--headerheight) - 60%);
}

/** Main **/

main {
    grid-area: main;
    margin: 30px auto !important;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 30px;
}

/** Article Layout **/
.entry-post {
    background-color: var(--white);
    border-bottom: 2px solid var(--gray);
}

.entry-post h3 {
    font-size: 20px;
    color: var(--darkpurple);
    line-height: 1.2;
}

.entry-title {
    max-height: 45px;
    overflow: hidden;
}

.entry-post p {
    font-size: 18px;
}

.entry-img {
    height: 350px;
    width: 100%;
}

.entry-img img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left;
}

.entry-wrap {
    padding: 15px;
}

.entry-wrap>div {
    margin-bottom: 10px;
}

.entry-meta {
    display: flex;
    color: var(--gray);
    margin: 10px 0;
    justify-content: space-around;
}

.comments-meta:after {
    content: '\f0e5';
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 15px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 12px;
    vertical-align: 1px;
}

.likes-meta:after {
    content: '\f08a';
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 15px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 12px;
    vertical-align: 1px;
}

.entry-content {
    position: relative;
    overflow: hidden;
    max-height: 70px;
}

.entry-content:after {
    content: '';
    position: absolute;
    bottom: 0;
    background-image: -moz-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
    width: 100%;
    height: 44px;
    right: 0;
}

/* Footer */
footer {
    grid-area: foot;
    background-color: var(--white);
}